
td, th {
    background: white;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #06c;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}
.link-button:focus { outline: none; }